<div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm p-2 m-8 w-80">
  <h5 class="text-gray-900 text-xl leading-tight font-medium mb-2"><%= header %></h5>
  <p class="text-gray-700 text-base mb-4">
    <%= content %>
  </p>
</div>
