<% unless params[:end_date].nil? %>
  <div class="relative flex flex-wrap items-center text-center justify-center">
    <%= render partial: 'shared/centered_card', locals: { header: 'Total cost from scoped week', content: scope_cost_to_currency } %>

    <%= render partial: 'shared/centered_card', locals: { header: 'Total Profit from scoped week', content: scope_profit_to_currency } %>
  </div>
<% end %>

<div class="relative flex flex-wrap items-center text-center justify-center">
  <%= render partial: 'shared/centered_card', locals: { header: 'Total Profit from last week', content: current_week_cost_to_currency } %>

  <%= render partial: 'shared/centered_card', locals: { header: 'Total Profit from last week', content: current_week_profit_to_currency } %>
</div>